.discover {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 40px;
}

.mainTitle {
	display: block;
	text-align: center;
	width: 100vw;
	margin: 0;
	padding: 40px 0;
	font-size: 2rem;
}

.niceImage {
	width: 40vw;
	min-width: 300px;
}

.niceImage img {
	width: 100%;
}

.niceText {
	width: 40vw;
	min-width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media only screen and (min-width: 768px) {
	.mainTitle {
		font-size: 3rem;
	}
}
